<div class="col-6">
    <div class="card">

        <img class="card-img ml-auto" src="{{flag}}" alt="">
        <div class="card-body">
        <h1 class="card-title">{{name}}</h1>
    
    
        <h4 class="card-text">Capital: {{capital}}</h4>
    
    
        <h4 class="card-text">Population: {{population}}</h4>
    
    
        <ul>
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
        </div>
        
    </div>
        
    
    
    
</div>